<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753333991622-78f3guicd5bs8d0f9jg8jeso45pd6i79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753333991622-78f3guicd5bs8d0f9jg8jeso45pd6i79</string>
	<key>API_KEY</key>
	<string>AIzaSyAtj7dJSoMCR0foEx9W2DTVaFVSNMRqeHg</string>
	<key>GCM_SENDER_ID</key>
	<string>753333991622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trywatt.watt</string>
	<key>PROJECT_ID</key>
	<string>peak-flow-91fc5</string>
	<key>STORAGE_BUCKET</key>
	<string>peak-flow-91fc5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753333991622:ios:dc21525153d4acc91d3fc7</string>
	<key>DATABASE_URL</key>
	<string>https://peak-flow-91fc5-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>